



.one{
  text-align: center;
  position: fixed;
  left: 33%;
  top:30%;
  width:13%;

  color: white;

}
.two{
  text-align: center;
  position: fixed;
  left: 33%;
  top:40%;
  width: 13%;
  color: white;

}
#three{

  position: fixed;
  left:  33%;
  top:52%;
  width:13%;


}
.rectangle2{
  height: 40%;
  width: 40%;

  border-radius: 25px;
  background: rgb(44, 42, 42);
  border: solid white 10px;


  position: fixed;
  left: 30%;
  top: 25%;

}
.rectangle3{
  height: 40%;
  width: 20%;

  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background: rgb(44, 42, 42);
  border: solid white 10px;


  position: fixed;
  left: 30%;
  top: 25%;

}

.picture{
  position: fixed;
  left: 54%;
  top: 34%;
  width: 11%;

}
.wlp{
  position: fixed;
  left: 0%;
  top: 0%;
}
#passwordF{
  text-decoration: none;
  color: rgb(30, 170, 128);
  position: fixed;
  width: 13%;
  top: 47%;
  left: 38%;
}



