
<img class="wlp " src="../../../assets/pictures/lgWLP.jpg" alt="Logo">
  <div class="rectangle2">
    <div class="rectangle3">

    <img class="picture " src="../../../assets/pictures/voj_filesystem.png" alt="Logo">
      <form [formGroup]="form" (ngSubmit)="login()">
    <div class="one">
      <div class="form-outline">
        <label class="form-label1" for="typeText">Login Name</label>
        <input type="text" id="typeText" class="form-control" formControlName="login"  />
      </div>
    </div>
    <div class="two">
      <div class="form-outline2">
        <label class="form-label2" for="typePassword">Password</label>
        <input type="password" id="typePassword" class="form-control" formControlName="password" />
      </div>
    </div>
    <button type="submit" id="three" class="btn btn-outline-light btn-rounded" data-mdb-ripple-color="dark">Log In</button>
      </form>
  </div>
</div>

