.TopBar{
  background-color: #a6a6a6;
  color:  black;
  margin: 0;
  height: 5vw;
  position: sticky;
  top: 0;

}
h1{
  font-size: 300%;
  padding-top: 1.5%;
  color: black;
  font-family: 'Raleway',sans-serif;
  font-weight: 800;
  line-height: 2vw;
  text-align: center;
  height: 5vw;
  text-transform: uppercase;
}
