.TopBar{
  background-color: #a6a6a6;
  color:  black;
  margin: 0;
  height: 5vw;
  position: sticky;
  top: 0;

}
h1{
  font-size: 300%;
  padding-top: 1.5%;
  color: black;
  font-family: 'Raleway',sans-serif;
  font-weight: 800;
  line-height: 2vw;
  text-align: center;
  height: 5vw;
  text-transform: uppercase;
}
.content{
  width: 90%;
}
.add-button{
  margin-top:0.5vw;
  height: 67%;
  width: 7%;
  margin-left: 90%;
}
.pickers{
  position: sticky;
  top:5vw;
  opacity: 100%;
  background-color: white;
  height: 5vw;
  width: 110%;
}

.config-picker{
  text-align: center;
  width: 10vw;
  margin-left: 7vw;
  margin-top: 1vw;
}
.client-picker{
  text-align: center;
  width: 25vw;
  margin-left: 6vw;
}


th{
  position: sticky;
  top: 10vw;
  width: 15vw;
  color: white;
  background-color: black;
  border-bottom: solid black 3px;
}
tr{
  width: 90vw;
}
.small-th{
  width: 5%;
}
.smaller-th{
  width: 7vw;
}
.clients-th{
  width: 20vw;
}


.ConfigTable{
  border-collapse: separate;
  offset: 1vw;
  width: 100%;
  margin-left: 5vw;
  text-align: center;
  vertical-align: middle;
}

