.TopBar{
  background-color: #a6a6a6;
  color:  black;
  margin: 0;
  height: 5vw;
  position: sticky;
  top: 0;

}
h1{
  font-size: 300%;
  padding-top: 1.5%;
  color: black;
  font-family: 'Raleway',sans-serif;
  font-weight: 800;
  line-height: 2vw;
  text-align: center;
  height: 5vw;
  text-transform: uppercase;
}
.content{
  width: 90%;
}

.pickers{
  position: sticky;
  top:5vw;
  opacity: 100%;
  background-color: white;
  height: 5vw;
  width: 110%;
}

.config-picker{
  text-align: center;
  width: 14vw;
  margin-left: 6vw;
  margin-top: 1vw;
}
.ip-picker{
  text-align: center;
  width: 10%;
  margin-left: 2%;
  margin-top: 1vw;
}
.mac-picker{
  text-align: center;
  width: 10%;
  margin-left: 47%;
  margin-top: 1vw;
}
.status-picker{
  text-align: center;
  width: 6vw;
  margin-left: 1.5%;
  margin-top: 1vw;
}
.war-button{
  margin-top:-0.75vw;
  height: 55%;
  margin-left:2%;
  width: 7.5%;
}

th{
  position: sticky;
  top: 10vw;
  width: 15vw;
  color: white;
  background-color: black;
  border-bottom: solid black 3px;
}
tr{
  width: 90vw;
}
.small-th{
  width: 5%;
}
.address-th{
  width: 7%;
}
.normal-th {
  width: 20%;
}
.smaller-th{
  width: 10%;
}



.ConfigTable{
  border-collapse: separate;
  offset: 1vw;
  width: 100%;
  margin-left: 5vw;
  text-align: center;
  vertical-align: middle;
}
